.list-item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.task-title{
    font-weight: 500;
    font-size: 20px;
}